<!-- File: templates/loginDetails.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Student Login Details</title>
</head>
<body>
    <h1>Student Login Details</h1>
    <p>Name: {{name}}</p>
    <p>ID: {{id}}</p>
    <p>Password: {{password}}</p>
</body>
</html>
